[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
pillow = "*"
matplotlib = "*"
seaborn = "*"
opencv-python = "*"
scikit-image = "*"
geopy = "*"
python-dotenv = "*"
click = "*"
geolife = {editable = true, path = "."}

[dev-packages]
black = "*"
pylint = "*"
ipykernel = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
